main
    header
        p *Aqui va el header*    
    .contenido
        h1 ESTAS EN EL MODULO DE CONTRATISTAS
        router-outlet
    footer
        p *Aqui va el footer*
        //- .copyrigth
        //-     .copy-content
        //-         .copy
        //-             .mensaje
        //-                 p Copyrigth El gigante de los azulejos y marmoles
        //-             //- .botones
        //-             //-     md-button(aria-label) Sucursales
        //-             //-     md-button(aria-label) Aviso de privacidad
        //-             //-     md-button(aria-label) Políticas de venta
        //-         .starbrand
        //-             button(mat-button href="https://www.starbrand.mx/")
        //-                 //- mat-icon(md-svg-icon="img/starbrand.svg")
